page-tabs {
    .tabs-md .tab-button[aria-selected=true] {
        color: #cc0000;
        font-family: 'Courier New', Courier, monospace
    }
    .tabs-md .tab-button[aria-selected=true] .tab-button-icon {
        color: #cc0000;
    }
}
