<ion-header>

  <ion-navbar color="darkgrey">
    <ion-title>New Update</ion-title>
  </ion-navbar>

</ion-header>

<ion-content style="background:#26262d;">
  <div *ngIf="channels.length != 0">
    <div *ngIf="param == '0'">
      <ion-row style="background: #dedede;">
        <ion-col padding col-3 style="border-right:1px solid;border-color:#ffffff;">TGL</ion-col>
        <ion-col padding col-4 style="border-right:1px solid;border-color:#ffffff;">CHANNEL</ion-col>
        <ion-col padding col-5 style="border-right:1px solid;border-color:#ffffff;">JUDUL</ion-col>
      </ion-row>
      <ion-row *ngFor="let channel of channels" (click)="goToPlay(channel)">
        <ion-col padding col-3 style="border-right:1px solid;border-bottom:1px solid;border-color:#dedede;color:#ffffff;">{{channel.date | date:'dd-MM-yy'}}</ion-col>
        <ion-col padding col-4 style="border-right:1px solid;border-bottom:1px solid;border-color:#dedede;color:#ffffff;">{{channel.name}}</ion-col>
        <ion-col padding col-5 style="border-right:1px solid;border-bottom:1px solid;border-color:#dedede;color:#ffffff;">{{channel.title}}</ion-col>
      </ion-row>
    </div>
    <div *ngIf="param == '1'">
      <ion-row style="background: #dedede;">
        <ion-col padding col-3 style="border-right:1px solid;border-color:#ffffff;">TGL</ion-col>
        <ion-col padding col-4 style="border-right:1px solid;border-color:#ffffff;">CHANNEL</ion-col>
        <ion-col padding col-5 style="border-right:1px solid;border-color:#ffffff;">JUDUL</ion-col>
      </ion-row>
      <ion-row *ngFor="let channel of channels" (click)="goToPlay(channel)">
        <ion-col padding col-3 style="border-right:1px solid;border-bottom:1px solid;border-color:#dedede;color:#ffffff;">{{channel.date | date:'dd-MM-yy'}}</ion-col>
        <ion-col padding col-4 style="border-right:1px solid;border-bottom:1px solid;border-color:#dedede;color:#ffffff;">{{channel.name}}</ion-col>
        <ion-col padding col-5 style="border-right:1px solid;border-bottom:1px solid;border-color:#dedede;color:#ffffff;">{{channel.title}}</ion-col>
      </ion-row>
    </div>
    <div *ngIf="param == '2'">
      <ion-row style="background: #dedede;">
        <ion-col padding col-3 style="border-right:1px solid;border-color:#ffffff;">TGL</ion-col>
        <ion-col padding col-2 style="border-right:1px solid;border-color:#ffffff;">EPS</ion-col>
        <ion-col padding col-7 style="border-right:1px solid;border-color:#ffffff;">JUDUL</ion-col>
      </ion-row>
      <ion-row *ngFor="let channel of channels" (click)="goToPlayAnime(channel)">
        <ion-col padding col-3 style="border-right:1px solid;border-bottom:1px solid;border-color:#dedede;color:#ffffff;">{{channel.date | date:'dd-MM-yy'}}</ion-col>
        <ion-col padding col-2 style="border-right:1px solid;border-bottom:1px solid;border-color:#dedede;color:#ffffff;">{{channel.episode}}</ion-col>
        <ion-col padding col-7 style="border-right:1px solid;border-bottom:1px solid;border-color:#dedede;color:#ffffff;">{{channel.name}}</ion-col>
      </ion-row>
    </div>
  </div>

  <div *ngIf="channels.length == 0">
    <p padding style="color:#ffffff;">*Tidak ada data</p>
  </div>
</ion-content>