page-fanspage {
    .header {
        background: #092e61;
    }    
    .header-sticky {

    }
    .header-navbar {
        text-align: center;
        background: transparent;
        padding: 0px;
    }
    .title-menu {
        text-align: left;
        height:0px;
    }
    .title-logo {
        font-size: 50px;
        color: #ffffff;
    }
}
