<ion-header class="header">
  <div id="header-navbar" class="header-navbar">
    <div style="text-align:right;height:0px;">
      <button ion-button clear color="light" (click)="doShowOnline()">
        <ion-icon name="md-people" style="font-size:25px;"></ion-icon>
        <div style="margin-left:5px;font-size:15px;">({{totalonline}})</div>
      </button>
    </div>
    <div class="title-menu">
      <button ion-button clear menuToggle color="light" style="top:3px;">
        <ion-icon name="md-options" style="font-size:25px;"></ion-icon>
      </button>
    </div>
    <div class="title-logo">
      <h4>
        BARCA
        <img src="assets/icon/logo.gif" height="20" /> INFO&nbsp;&nbsp;&nbsp;&nbsp;
      </h4>
    </div>
  </div>
</ion-header>


<ion-content id="content" padding class="content">

  <div id="chatMessages">
    <div *ngFor="let message of messages;let last = last" [class]="message.specialMessage ? 'message special' : 'message'">
      <div *ngIf="!message.specialMessage" [class]="message.username == username ? 'innerMessage messageRight' : 'innerMessage messageLeft'">
        <div class="username">{{message.username}}</div>
        <div class="messageContent">{{message.message}}</div>
        {{last ? callFunction() : ''}}
      </div>
    </div>
  </div>

</ion-content>

<ion-footer class="footer">
  <div id="footer">
    <div class="elem">
      <ion-input type="text" [(ngModel)]="message"></ion-input>
    </div>
    <div class="elem">
      <button ion-button icon-only color="bluedark" (click)="sendMessage()">
        <ion-icon name="md-send"></ion-icon>
      </button>
    </div>
  </div>
</ion-footer>

<ion-content id="content-online" style="top:0px;display: none;height:100%;width:100%;">
  <ion-item no-lines *ngFor="let user of useronline" style="border-bottom:1px solid;border-color:#eeeeee;">
    <ion-avatar item-start>
      <img src="{{user.image_url}}" />
    </ion-avatar>
    <h5>{{user.first_name}}</h5>
  </ion-item>
</ion-content>