page-home {
    .side-title {
        text-align: center;
    }
    .swiper-pagination-bullet-active {
        background: #fff;
        opacity: 1;
        }
    .hiddenfirst {
        display: none;
    }
    .swiper-pagination-bullet {
        border-radius: 100%;
        display: inline-block;
        width: 10px;
        height: 10px;
        background: #fff;
        pointer-events: auto;
    }
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: #2b2d53;
        opacity: 1;
    }
    
    .segment-md .segment-button {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 0;
        height: 4.2rem; 
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: rgba(0, 0, 0, 0.1);
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 4rem;
        text-transform: uppercase;
        color: #fff;
        background-color: #2b2d53;
        opacity: 0.9;
        -webkit-transition: 100ms all linear;
        transition: 100ms all linear;
        padding: 0 6px;
    }
    .segment-button {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        position: relative;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
    }

    .comment {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
        background: #000;
    }
    .bottom {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height:40%;
        background: rgba(34,39,51,0.6);
        color:#fff;
        opacity: 0.9;
        text-align:left;
        padding-left:5px;
        padding-top:5px;
        font-size:12px;
    }
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 999; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    .quality {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 10%;
        top: 15%;
        width: 80%; /* Full width */
        height: 70%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
}
