page-settings {
    .header {
        background: #092e61;
    }    
    .header-sticky {

    }
    .header-navbar {
        text-align: center;
        background: transparent;
        padding: 0px;
    }
    .title-menu {
        text-align: left;
        height:0px;
    }
    .title-logo {
        font-size: 50px;
        color: #ffffff;
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
    }
    .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 0px;
    }
}
