<ion-header class="header">
  <div id="header-navbar" class="header-navbar">
    <div class="title-menu">
      <button ion-button clear menuToggle color="light" style="top:3px;">
        <ion-icon name="md-options" style="font-size:25px;"></ion-icon>
      </button>
    </div>
    <div class="title-logo">
      <h4>
        BARCA
        <img src="assets/icon/logo.gif" height="20" /> INFO&nbsp;&nbsp;&nbsp;&nbsp;
      </h4>
    </div>
  </div>
</ion-header>

<ion-content style="background: #092e61">
  <ion-item no-lines style="text-align:center;background:#f8f8f8;">
    <div class="container">
      <img src="{{imageurl}}" height="100" style="border-radius:100%;max-width:100px;max-height:100px;" />
      <div class="bottom-right">
        <button ion-button clear color="bluedark" (click)="getImage()">
          <ion-icon name="md-camera" style="font-size:30px;"></ion-icon>
        </button>
      </div>
    </div>
  </ion-item>
  <ion-row style="background:transparent;">
    <ion-col col-12 style="background:transparent;background: #092e61">
      <ion-item style="background:transparent;color:#ffffff;">
        <ion-label stacked>First Name</ion-label>
        <ion-input [disabled]="firstnameboolean" [(ngModel)]="firstname" type="text"> </ion-input>
        <button *ngIf="firstnameboolean == true" item-end ion-button color="darklight" clear (click)="doUpdateFirstName()">
          <i class="fas fa-edit" style="font-size:20px;"></i>
        </button>
        <button *ngIf="firstnameboolean == false" item-end ion-button color="darklight" clear (click)="doSaveFirstName()">
          <i class="fas fa-save" style="font-size:30px;"></i>
        </button>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row style="background:transparent;">
    <ion-col col-12 style="background:transparent;background: #092e61">
      <ion-item style="background:transparent;color:#ffffff;">
        <ion-label stacked>Last Name</ion-label>
        <ion-input [disabled]="lastnameboolean" [(ngModel)]="lastname" type="text"> </ion-input>
        <button *ngIf="lastnameboolean == true" item-end ion-button color="darklight" clear (click)="doUpdateLastName()">
          <i class="fas fa-edit" style="font-size:20px;"></i>
        </button>
        <button *ngIf="lastnameboolean == false" item-end ion-button color="darklight" clear (click)="doSaveLastName()">
          <i class="fas fa-save" style="font-size:20px;"></i>
        </button>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row style="background:transparent;">
    <ion-col col-12 style="background:transparent;background: #092e61">
      <ion-item style="background:transparent;color:#ffffff;">
        <ion-label stacked>Email</ion-label>
        <ion-input [disabled]="emailboolean" [(ngModel)]="email" type="text"> </ion-input>
        <button *ngIf="emailboolean == true" item-end ion-button color="darklight" clear (click)="doUpdateEmail()">
          <i class="fas fa-edit" style="font-size:20px;"></i>
        </button>
        <button *ngIf="emailboolean == false" item-end ion-button color="darklight" clear (click)="doSaveEmail()">
          <i class="fas fa-save" style="font-size:20px;"></i>
        </button>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row style="background:transparent;">
    <ion-col col-12 style="background:transparent;background: #092e61">
      <ion-item style="background:transparent;color:#ffffff;">
        <ion-label stacked>Password</ion-label>
        <ion-input [disabled]="passwordboolean" [(ngModel)]="password" type="password"> </ion-input>
        <button *ngIf="passwordboolean == true" item-end ion-button color="darklight" clear (click)="doUpdatePassword()">
          <i class="fas fa-edit" style="font-size:20px;"></i>
        </button>
        <button *ngIf="passwordboolean == false" item-end ion-button color="darklight" clear (click)="doSavePassword()">
          <i class="fas fa-save" style="font-size:20px;"></i>
        </button>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>