<ion-header id="header">
  <ion-navbar color="darkgrey">
    <div *ngIf="!showsearch" style="text-align:right;height:0px;margin-top:-10px;">
      <button ion-button clear color="light" style="z-index: 999;" (click)="doShowSearch()">
        <ion-icon name="md-search" style="font-size: 25px;"></ion-icon>
      </button>
    </div>
    <ion-title *ngIf="!showsearch" style="text-align: left;margin-top:10px;">
      {{channelname}}
    </ion-title>
    <ion-searchbar *ngIf="showsearch" color="darkgrey" (ionInput)="getSearch($event)" placeholder="Search">
    </ion-searchbar>
    <ion-buttons end *ngIf="showsearch">
      <button ion-button icon-only clear (click)='doHideSearch()'>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content id="content" style="background:#26262d;">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
      pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="channelcategory != 'LIVE' && channeltype == 'GRID'">
    <ion-row>
      <ion-col col-4 *ngFor="let channel of channels" (click)="doQuality(channel)" style="padding:0px;">
        <ion-card>
          <div class="container">
            <img src="{{channel.thumbnail_picture}}" style="height:125px;width:100%;" />
            <div class="bottom">{{channel.title}}</div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="channelcategory != 'LIVE' && channeltype != 'GRID'">
    <ion-row>
      <ion-item item-start no-lines text-wrap style="background: #26262d;border-bottom:1px solid;border-color:#dedede;" *ngFor="let channel of channels"
        col-12>
        <h4 style="color:#ffffff;font-weight: bold;">{{channel.title}}</h4>
        <button (click)="doQuality(channel)" ion-button clear color="light" *ngIf="(channelcategory =='STREAM' && channelname =='Anime') || (channelcategory =='STREAM' && channelname =='Film Series')"
          item-end>
          <i style="font-size: 15px;" class="fas fa-chevron-right"></i>
        </button>
        <button (click)="doQuality(channel)" ion-button clear color="light" *ngIf="(channelname !='Anime' && channelname != 'Film Series')"
          item-end>
          <i *ngIf="!radiostream || channel.id != id" style="font-size: 15px;" class="fas fa-play"></i>
          <i *ngIf="radiostream && channel.id == id" style="font-size: 15px;" class="fas fa-stop"></i>
        </button>
        <audio *ngIf="radiostream && channel.id == id" controls autoplay style="width: 100%;">
          <source src="{{url}}" type="audio/mpeg">
        </audio>
      </ion-item>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="channelcategory == 'LIVE'">
    <div *ngFor="let channel of channels">
      <ion-row style="background: #ffffff;color:#26262d;">
        <ion-col padding col-12>{{channel.date | date:'EEEE, dd/MM/yyyy'}}</ion-col>
      </ion-row>
      <div *ngFor="let channeld of channeldetail">
        <ion-row *ngIf="channeld.date == channel.date" style="border-bottom:1px solid;border-color:#7a7a7a;background: #26262d;"
          (click)="doQualityLive(channeld)">
          <ion-col *ngIf="!channeld.url" padding col-4 style="text-align:left;color:#ffffff;">{{channeld.datestart | date:'HH:mm'}} WIB</ion-col>
          <ion-col *ngIf="channeld.url" padding col-4 style="text-align:left;color:red;font-weight: bold;">LIVE</ion-col>
          <ion-col padding col-8 style="text-align:left;color:#ffffff;">{{channeld.title}}</ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
      loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<div id="qualitys" class="quality" style="background:#fff;border:1px solid;border-color:#26262d;">
  <ion-header>
    <ion-toolbar color="darkgrey" style="border:1px solid;border-color:#fff;">
      <ion-title>
        Server List
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list style="margin-top:60px;background:#fff;color:#26262d;" radio-group [(ngModel)]="qualityid">
    <ion-item *ngFor="let qty of quality" style="background:#fff;color:#26262d;">
      <ion-label style="color:#26262d;">{{qty.quality}}</ion-label>
      <ion-radio color="darkgrey" value="{{qty.id}}" (ionSelect)="doSelectQuality()"></ion-radio>
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-row>
      <ion-col col-6>
        <button ion-button full color="darkgrey" style="font-weight: bold;font-size:15px;" (click)="doPlayer()">
          <ion-icon name="md-play"></ion-icon>&nbsp;&nbsp;&nbsp;Play</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full color="danger" style="font-weight: bold;font-size:15px;" (click)="doCloseQuality()">
          <ion-icon name="md-close-circle"></ion-icon>&nbsp;&nbsp;&nbsp;Cancel</button>
      </ion-col>
    </ion-row>
  </ion-footer>
</div>