<ion-header id="header">
  <ion-navbar color="darkgrey">
    <div *ngIf="!showsearch" style="text-align:right;height:0px;margin-top:-10px;">
      <button ion-button clear color="light" style="z-index: 999;" (click)="doShowSearch()">
        <ion-icon name="md-search" style="font-size: 25px;"></ion-icon>
      </button>
    </div>
    <ion-title *ngIf="!showsearch" style="text-align: left;margin-top:10px;">
      {{channelname}}
    </ion-title>
    <ion-searchbar *ngIf="showsearch" color="darkgrey" (ionInput)="getSearch($event)" placeholder="Search">
    </ion-searchbar>
    <ion-buttons end *ngIf="showsearch">
      <button ion-button icon-only clear (click)='doHideSearch()'>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content id="content" style="background:#26262d;">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
      pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid *ngIf="channelcategory != 'LIVE'">
    <ion-row>
      <ion-item item-start no-lines text-wrap style="background: #26262d;border:1px solid;border-color:#dedede;" *ngFor="let channel of channels"
        col-12>
        <h4 style="color:#ffffff;font-weight: bold;">{{channel.title}}</h4>
        <button (click)="doPlay(channel)" ion-button clear *ngIf="(channelcategory =='STREAM' && channelname =='Anime') || (channelcategory =='STREAM' && channelname =='Film Series')"
          item-end>
          <i style="font-size: 15px;" class="fas fa-chevron-right"></i>
        </button>
        <button (click)="doPlay(channel)" ion-button clear *ngIf="(channelname !='Anime' && channelname != 'Film Series') && channel.stream != '1'"
          item-end>
          <i *ngIf="!radiostream || channel.id != id" style="font-size: 15px;" class="fas fa-play"></i>
          <i *ngIf="radiostream && channel.id == id" style="font-size: 15px;" class="fas fa-stop"></i>
        </button>
        <audio *ngIf="radiostream && channel.id == id" controls autoplay style="width: 100%;">
          <source src="{{url}}" type="audio/mpeg">
        </audio>
      </ion-item>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="channelcategory == 'LIVE'">
    <div *ngFor="let channel of channels">
      <ion-row style="background: #7a7a7a;color:#ffffff;">
        <ion-col padding col-12>{{channel.date | date:'EEEE, dd/MM/yyyy'}}</ion-col>
      </ion-row>
      <div *ngFor="let channeld of channeldetail">
        <ion-row *ngIf="channeld.date == channel.date" style="border-bottom:1px solid;border-color:#7a7a7a;background: #ffffff;"
          (click)="doPlayLive(channeld)">
          <ion-col *ngIf="!channeld.url" padding col-4 style="text-align:left;">{{channeld.datestart | date:'HH:mm'}} WIB</ion-col>
          <ion-col *ngIf="channeld.url" padding col-4 style="text-align:left;color:red;font-weight: bold;">LIVE</ion-col>
          <ion-col padding col-8 style="text-align:left;">{{channeld.title}}</ion-col>
        </ion-row>
      </div>
    </div>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
      loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>