page-news {
    .header {
        background: #092e61;
    }    
    .header-sticky {

    }
    .header-navbar {
        text-align: center;
        background: transparent;
        padding: 0px;
    }
    .title-menu {
        text-align: left;
        height:0px;
    }
    .title-logo {
        font-size: 50px;
        color: #ffffff;
    }
    .label-md {
        margin-top: -10px;
        margin-left:-10px;
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
    }
    
    /* Bottom left text */
    .bottom {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height:15%;
        background: rgba(34,39,51,0.6);
        color:#D3D6D7;
        opacity: 0.9;
        text-align:left;
        padding-left:10px;
        padding-top:10px;
    }

}
