<ion-header class="header">
  <div id="header-navbar" class="header-navbar">
    <div class="title-menu">
      <button ion-button clear menuToggle color="light" style="top:3px;">
        <ion-icon name="md-options" style="font-size:25px;"></ion-icon>
      </button>
    </div>
    <div class="title-logo">
      <h4>
        BARCA
        <img src="assets/icon/logo.gif" height="20" /> INFO&nbsp;&nbsp;&nbsp;&nbsp;
      </h4>
    </div>
  </div>
</ion-header>

<ion-content style="background:#dedede;">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
      pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing..."
    </ion-refresher-content>
  </ion-refresher>
  <div class="content-top" (click)="doGoNewsDetailTop()">
    <div class="container">
      <img src="{{image}}" style="width:100%;" />
      <div class="bottom">{{title}}</div>
    </div>
  </div>
  <div class="content-list">
    <div *ngFor="let news of NewsAllactive" >
      <ion-card *ngIf="news.id != id" (click)="doGoNewsDetail(news)">
        <ion-row>
          <ion-col col-3 style="padding:0px;">
            <img src="{{news.image_url}}" style="width:100%;height:100%;" />
          </ion-col>
          <ion-col col-9 style="padding-left:10px;padding-top:10px;">
            <p style="font-weight:bold;">{{news.title}}</p>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content>
      loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>