<ion-header>

  <ion-navbar color="bluewhite">
    <ion-title>{{name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <div *ngIf="channels.length != 0">
    <ion-row style="background: #dedede;">
      <ion-col padding col-3 style="border-right:1px solid;border-color:#ffffff;">JAM</ion-col>
      <ion-col padding col-4 style="border-right:1px solid;border-color:#ffffff;">CHANNEL</ion-col>
      <ion-col padding col-5 style="border-right:1px solid;border-color:#ffffff;">JUDUL</ion-col>
    </ion-row>
    <ion-row *ngFor="let channel of channels" (click)="goToPlay(channel)">
      <ion-col padding col-3 style="border-right:1px solid;border-bottom:1px solid;border-color:#dedede;">{{channel.datestart | date:'HH:mm'}}</ion-col>
      <ion-col padding col-4 style="border-right:1px solid;border-bottom:1px solid;border-color:#dedede;">{{channel.category}}</ion-col>
      <ion-col padding col-5 style="border-right:1px solid;border-bottom:1px solid;border-color:#dedede;">{{channel.title}}</ion-col>
    </ion-row>
  </div>
  <div *ngIf="channels.length == 0">
    <p *ngIf="param == '0'" padding>*Tidak ada pertandingan pada hari ini</p>
    <p *ngIf="param == '1'" padding>*Tidak ada pertandingan yang sedang berlangsung</p>
  </div>
</ion-content>