page-players {
    .header {
        background: #092e61;
    }    
    .header-navbar {
        text-align: center;
        background: transparent;
        padding: 0px;
    }
    .title-menu {
        text-align: left;
        height:0px;
    }
    .title-logo {
        color: #333333;
    }
}
