<ion-header>
  <ion-navbar color="bluedark">
    <ion-title>
      <h6 style="margin:auto;">{{schedule.club_home}} Vs {{schedule.club_away}}
      </h6>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="container">
    <img id="container-img" class="container-img" src="assets/imgs/white.jpg" style="width:100%;height:100px;" />
    <div class="centered-top">
      <div style="font-size:80%;font-weight: bold;">{{schedule.league}} - {{schedule.round}}</div>
      <div *ngIf="schedule.date > datecurrent" style="font-size:80%;font-weight: bold;">{{schedule.date | date:"dd MMMM yyyy"}}</div>
      <div *ngIf="schedule.date <= datecurrent" style="font-size:80%;font-weight: bold;">HALF TIME</div>
    </div>
    <div class="centered">
      <div id="result" *ngIf="schedule.date <= datecurrent" class="result">
        {{schedule.skor_home}} - {{schedule.skor_away}}
      </div>
      <div *ngIf="schedule.date > datecurrent" id="time" class="result">
        {{schedule.date | date:"HH:mm"}}
      </div>
    </div>
    <div id="centered-left" class="centered-left">
      <div class="logo-club-left">
        <img id="logo-clubleft" style="width:40%;margin-left:0%;" src="{{schedule.club_home_icon_url}}" />
        <div id="name-clubleft" class="logo-name">{{schedule.club_home}}</div>
      </div>
    </div>
    <div id="centered-right" class="centered-right">
      <div class="logo-club-right">
        <img id="logo-clubright" style="width:40%;margin-left:0%;" src="{{schedule.club_away_icon_url}}" />
        <div id="name-clubright" class="logo-name">{{schedule.club_away}}</div>
      </div>
    </div>
    <ion-segment style="border-top:1px solid;border-color:#dedede;" [(ngModel)]="game" color="dark">
      <ion-segment-button value="result">
        RESULTS
      </ion-segment-button>
      <ion-segment-button value="stats">
        STATS
      </ion-segment-button>
      <ion-segment-button value="timeline">
        TIMELINE
      </ion-segment-button>
      <ion-segment-button value="lineups">
        LINEUPS
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="game">
    <div *ngSwitchCase="'result'" style="border:1px solid;border-color:#dedede;">
      <div *ngIf="schedule" style="width:100%;position: absolute;text-align: center;padding-top:5px;">
        <img src="https://ssl.gstatic.com/onebox/sports/soccer_timeline/soccer-ball.svg" />
      </div>
      <div style="width:45%;position: absolute;left:0px;padding-left:30px;">
        <div style="text-align: left;color:#787878;font-size: 12px;font-family: Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif;font-weight: normal;"
          *ngFor="let resulthome of resultshome">
          <p *ngIf="!resulthome.time_stats_other && !resulthome.stats">{{resulthome.players}} {{resulthome.time_stats}}'</p>
          <p *ngIf="!resulthome.time_stats_other && resulthome.stats">{{resulthome.players}} {{resulthome.time_stats}}' ({{resulthome.stats}})</p>
          <p *ngIf="resulthome.time_stats_other && !resulthome.stats">{{resulthome.players}} {{resulthome.time_stats}}+{{resulthome.time_stats_other}}'</p>
          <p *ngIf="resulthome.time_stats_other && resulthome.stats">{{resulthome.players}} {{resulthome.time_stats}}+{{resulthome.time_stats_other}}' ({{resulthome.stats}})</p>
        </div>
      </div>
      <div style="width:45%;position: absolute;right:0px;padding-right:30px;">
        <div style="text-align: right;color:#787878;font-size: 12px;font-family: Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif;font-weight: normal;"
          *ngFor="let resultaway of resultsaway">
          <p *ngIf="!resultaway.time_stats_other && !resultaway.stats">{{resultaway.players}} {{resultaway.time_stats}}'</p>
          <p *ngIf="!resultaway.time_stats_other && resultaway.stats">{{resultaway.players}} {{resultaway.time_stats}}' ({{resultaway.stats}})</p>
          <p *ngIf="resultaway.time_stats_other && !resultaway.stats">{{resultaway.players}} {{resultaway.time_stats}}+{{resultaway.time_stats_other}}'</p>
          <p *ngIf="resultaway.time_stats_other && resultaway.stats">{{resultaway.players}} {{resultaway.time_stats}}+{{resultaway.time_stats_other}}' ({{resultaway.stats}})</p>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="'stats'">
      <ion-card padding>
        <ion-row>
          <ion-col col-4 style="margin:auto;text-align: center;">
            <img style="height:25px;width:25px;margin:auto;" src="{{schedule.club_home_icon_url}}" />
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;font-weight: 600;font-size:12px;font-family: Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif;">
            TEAM STATS
          </ion-col>
          <ion-col col-4 style="margin:auto;text-align: center;">
            <img style="height:25px;width:25px;margin:auto;" src="{{schedule.club_away_icon_url}}" />
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;">
            18
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;font-weight: 600;font-size:12px;font-family: Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif;">
            Shots
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;">
            11
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;">
            6
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;font-weight: 600;font-size:12px;font-family: Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif;">
            Shots on target
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;">
            6
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;">
            62%
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;font-weight: 600;font-size:12px;font-family: Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif;">
            Possession
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;">
            38%
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;">
            8
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;font-weight: 600;font-size:12px;font-family: Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif;">
            Fouls
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;">
            20
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;">
            3
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;font-weight: 600;font-size:12px;font-family: Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif;">
            Yellow cards
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;">
            6
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;">
            0
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;font-weight: 600;font-size:12px;font-family: Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif;">
            Red cards
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;">
            1
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;">
            4
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;font-weight: 600;font-size:12px;font-family: Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif;">
            Offsides
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;">
            2
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;">
            7
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;font-weight: 600;font-size:12px;font-family: Roboto-Medium,HelveticaNeue-Medium,HelveticaNeue,sans-serif-medium,Arial,sans-serif;">
            Corners
          </ion-col>
          <ion-col col-4 style="color:#787878;margin:auto;text-align: center;">
            3
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
    <div *ngSwitchCase="'lineups'">
      <ion-item style="background: #346210;" no-lines>
        <ion-avatar item-start>
          <img style="height:40px;width:40px;" src="{{schedule.club_home_icon_url}}" />
        </ion-avatar>
        <p style="color:#ffffff;">{{schedule.club_home}}</p>
        <p style="color:#ffffff;" item-end>{{lineups[0].formation}}</p>
      </ion-item>
      <div class="container-pitch">
        <img src="assets/imgs/pitch.jpg" />
        <div class="home-gk">
          <div class="home">{{lineups[0].number_player_1}}<p>{{lineups[0].player_1}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cb == '4'" class="home-lb">
          <div class="home">{{lineups[0].number_player_2}}<p>{{lineups[0].player_2}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cb == '3'" class="home-cb-1">
          <div *ngIf="lineups[0].formation_cb == '3' && lineups[0].formation != '5-4-1'" class="home">{{lineups[0].number_player_2}}<p>{{lineups[0].player_2}}</p></div>
          <div *ngIf="lineups[0].formation_cb == '3' && lineups[0].formation == '5-4-1'" class="home">{{lineups[0].number_player_3}}<p>{{lineups[0].player_3}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cb == '4'" class="home-cb-2">
          <div class="home">{{lineups[0].number_player_3}}<p>{{lineups[0].player_3}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cb == '3'" class="home-cb-3">
          <div *ngIf="lineups[0].formation_cb == '3' && lineups[0].formation != '5-4-1'" class="home">{{lineups[0].number_player_3}}<p>{{lineups[0].player_3}}</p></div>
          <div *ngIf="lineups[0].formation_cb == '3' && lineups[0].formation == '5-4-1'" class="home">{{lineups[0].number_player_4}}<p>{{lineups[0].player_4}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cb == '4'" class="home-cb-4">
          <div class="home">{{lineups[0].number_player_4}}<p>{{lineups[0].player_4}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cb == '3'" class="home-cb-5">
          <div *ngIf="lineups[0].formation_cb == '3' && lineups[0].formation != '5-4-1'" class="home">{{lineups[0].number_player_4}}<p>{{lineups[0].player_4}}</p></div>
          <div *ngIf="lineups[0].formation_cb == '3' && lineups[0].formation == '5-4-1'" class="home">{{lineups[0].number_player_5}}<p>{{lineups[0].player_5}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cb == '4'" class="home-rb">
          <div class="home">{{lineups[0].number_player_5}}<p>{{lineups[0].player_5}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_dm == '2' && lineups[0].formation == '5-4-1'" class="home-ldm">
            <div *ngIf="lineups[0].formation_dm == '2' && lineups[0].formation == '5-4-1'" class="home">{{lineups[0].number_player_2}}<p>{{lineups[0].player_2}}</p></div>
          </div>
        <div *ngIf="lineups[0].formation_dm == '3'" class="home-dm-1">
          <div *ngIf="lineups[0].formation_dm == '3' && lineups[0].formation_cb == '4'" class="home">{{lineups[0].number_player_6}}<p>{{lineups[0].player_6}}</p></div>
          <div *ngIf="lineups[0].formation_dm == '3' && lineups[0].formation_cb == '3'" class="home">{{lineups[0].number_player_5}}<p>{{lineups[0].player_5}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_dm == '2' && lineups[0].formation != '5-4-1'" class="home-dm-2">
          <div class="home">{{lineups[0].number_player_6}}<p>{{lineups[0].player_6}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_dm == '3' || lineups[0].formation_dm == '1'" class="home-dm-3">
          <div *ngIf="lineups[0].formation_dm == '3' && lineups[0].formation_cb == '4'" class="home">{{lineups[0].number_player_7}}<p>{{lineups[0].player_7}}</p></div>
          <div *ngIf="lineups[0].formation_dm == '3' && lineups[0].formation_cb == '3'" class="home">{{lineups[0].number_player_6}}<p>{{lineups[0].player_6}}</p></div>
          <div *ngIf="lineups[0].formation_dm == '1'" class="home">{{lineups[0].number_player_6}}<p>{{lineups[0].player_6}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_dm == '2' && lineups[0].formation != '5-4-1'" class="home-dm-4">
          <div class="home">{{lineups[0].number_player_7}}<p>{{lineups[0].player_7}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_dm == '3'" class="home-dm-5">
          <div *ngIf="lineups[0].formation_dm == '3'&& lineups[0].formation_cb == '4'" class="home">{{lineups[0].number_player_8}}<p>{{lineups[0].player_8}}</p></div>
          <div *ngIf="lineups[0].formation_dm == '3'&& lineups[0].formation_cb == '3'" class="home">{{lineups[0].number_player_7}}<p>{{lineups[0].player_7}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_dm == '2' && lineups[0].formation == '5-4-1'" class="home-rdm">
            <div *ngIf="lineups[0].formation_dm == '2' && lineups[0].formation == '5-4-1'" class="home">{{lineups[0].number_player_6}}<p>{{lineups[0].player_6}}</p></div>
          </div>
        <div *ngIf="lineups[0].formation_cm == '4'" class="home-lcm">
          <div *ngIf="lineups[0].formation_cm == '4' && lineups[0].formation_cf == '1'" class="home">{{lineups[0].number_player_6}}<p>{{lineups[0].player_6}}</p></div>
          <div *ngIf="lineups[0].formation_cm == '4' && lineups[0].formation_cf == '3'" class="home">{{lineups[0].number_player_5}}<p>{{lineups[0].player_5}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cm == '3'" class="home-cm-1">
          <div class="home">{{lineups[0].number_player_6}}<p>{{lineups[0].player_6}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cm == '2' || lineups[0].formation_cm == '4'" class="home-cm-2">
          <div *ngIf="lineups[0].formation_cm == '4' && lineups[0].formation_cf == '1'" class="home">{{lineups[0].number_player_7}}<p>{{lineups[0].player_7}}</p></div>
          <div *ngIf="lineups[0].formation_cm == '4' && lineups[0].formation_cf == '3'" class="home">{{lineups[0].number_player_6}}<p>{{lineups[0].player_6}}</p></div>
          <div *ngIf="lineups[0].formation_cm == '2'" class="home">{{lineups[0].number_player_6}}<p>{{lineups[0].player_6}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cm == '3' || lineups[0].formation_cm == '1'" class="home-cm-3">
          <div class="home">{{lineups[0].number_player_7}}<p>{{lineups[0].player_7}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cm == '2' || lineups[0].formation_cm == '4'" class="home-cm-4">
          <div *ngIf="lineups[0].formation_cm == '4' && lineups[0].formation_cf == '1'" class="home">{{lineups[0].number_player_8}}<p>{{lineups[0].player_8}}</p></div>
          <div *ngIf="lineups[0].formation_cm == '4' && lineups[0].formation_cf == '3'" class="home">{{lineups[0].number_player_7}}<p>{{lineups[0].player_7}}</p></div>
          <div *ngIf="lineups[0].formation_cm == '2'" class="home">{{lineups[0].number_player_7}}<p>{{lineups[0].player_7}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cm == '3'" class="home-cm-5">
          <div class="home">{{lineups[0].number_player_8}}<p>{{lineups[0].player_8}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cm == '4'" class="home-rcm">
          <div *ngIf="lineups[0].formation_cm == '4' && lineups[0].formation_cf == '1'" class="home">{{lineups[0].number_player_9}}<p>{{lineups[0].player_9}}</p></div>
          <div *ngIf="lineups[0].formation_cm == '4' && lineups[0].formation_cf == '3'" class="home">{{lineups[0].number_player_8}}<p>{{lineups[0].player_8}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_acm == '4' || (lineups[0].formation_acm == '2' && (lineups[0].formation == '4-5-1' || lineups[0].formation == '3-5-2'))" class="home-lacm">
          <div *ngIf="lineups[0].formation_acm == '4'" class="home">{{lineups[0].number_player_7}}<p>{{lineups[0].player_7}}</p></div>
          <div *ngIf="lineups[0].formation_acm == '2' && (lineups[0].formation == '4-5-1')" class="home">{{lineups[0].number_player_9}}<p>{{lineups[0].player_9}}</p></div>
          <div *ngIf="lineups[0].formation_acm == '2' && (lineups[0].formation == '3-5-2')" class="home">{{lineups[0].number_player_8}}<p>{{lineups[0].player_8}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_acm == '3'" class="home-acm-1">
          <div class="home">{{lineups[0].number_player_8}}<p>{{lineups[0].player_8}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_acm == '4' || (lineups[0].formation_acm == '2' && (lineups[0].formation != '4-5-1' && lineups[0].formation != '3-5-2'))" class="home-acm-2">
            <div *ngIf="lineups[0].formation_acm == '4'" class="home">{{lineups[0].number_player_8}}<p>{{lineups[0].player_8}}</p></div>
          <div *ngIf="lineups[0].formation_acm == '2' && (lineups[0].formation != '4-5-1' && lineups[0].formation != '3-5-2')" class="home">{{lineups[0].number_player_9}}<p>{{lineups[0].player_9}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_acm == '3' || lineups[0].formation_acm == '1'" class="home-acm-3">
          <div *ngIf="lineups[0].formation_acm == '3'" class="home">{{lineups[0].number_player_9}}<p>{{lineups[0].player_9}}</p></div>
          <div *ngIf="lineups[0].formation_acm == '1' && lineups[0].formation_cf == '1'" class="home">{{lineups[0].number_player_10}}<p>{{lineups[0].player_10}}</p></div>
          <div *ngIf="lineups[0].formation_acm == '1' && lineups[0].formation_cf == '2'" class="home">{{lineups[0].number_player_9}}<p>{{lineups[0].player_9}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_acm == '4' || (lineups[0].formation_acm == '2' && (lineups[0].formation != '4-5-1' && lineups[0].formation != '3-5-2'))" class="home-acm-4">
            <div *ngIf="lineups[0].formation_acm == '4'" class="home">{{lineups[0].number_player_9}}<p>{{lineups[0].player_9}}</p></div>
          <div *ngIf="lineups[0].formation_acm == '2' && (lineups[0].formation != '4-5-1' && lineups[0].formation != '3-5-2')" class="home">{{lineups[0].number_player_10}}<p>{{lineups[0].player_10}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_acm == '3'" class="home-acm-5">
          <div class="home">{{lineups[0].number_player_10}}<p>{{lineups[0].player_10}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_acm == '4' || (lineups[0].formation_acm == '2' && (lineups[0].formation == '4-5-1' || lineups[0].formation == '3-5-2'))" class="home-racm">
          <div *ngIf="lineups[0].formation_acm == '4'" class="home">{{lineups[0].number_player_10}}<p>{{lineups[0].player_10}}</p></div>
          <div *ngIf="lineups[0].formation_acm == '2' && (lineups[0].formation == '4-5-1')" class="home">{{lineups[0].number_player_10}}<p>{{lineups[0].player_10}}</p></div>
          <div *ngIf="lineups[0].formation_acm == '2' && (lineups[0].formation == '3-5-2')" class="home">{{lineups[0].number_player_9}}<p>{{lineups[0].player_9}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cf == '4'" class="home-lcf">
          <div *ngIf="lineups[0].formation_cf == '4'" class="home">{{lineups[0].number_player_8}}<p>{{lineups[0].player_8}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cf == '3'" class="home-cf-1">
          <div *ngIf="lineups[0].formation_cf == '3'" class="home">{{lineups[0].number_player_9}}<p>{{lineups[0].player_9}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cf == '2' || lineups[0].formation_cf == '4'" class="home-cf-2">
          <div *ngIf="lineups[0].formation_cf == '2'" class="home">{{lineups[0].number_player_10}}<p>{{lineups[0].player_10}}</p></div>
          <div *ngIf="lineups[0].formation_cf == '4'" class="home">{{lineups[0].number_player_9}}<p>{{lineups[0].player_9}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cf == '3' || lineups[0].formation_cf == '1'" class="home-cf-3">
          <div *ngIf="lineups[0].formation_cf == '1'" class="home">{{lineups[0].number_player_11}}<p>{{lineups[0].player_11}}</p></div>
          <div *ngIf="lineups[0].formation_cf == '3'" class="home">{{lineups[0].number_player_10}}<p>{{lineups[0].player_10}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cf == '2' || lineups[0].formation_cf == '4'" class="home-cf-4">
          <div *ngIf="lineups[0].formation_cf == '2'" class="home">{{lineups[0].number_player_11}}<p>{{lineups[0].player_11}}</p></div>
          <div *ngIf="lineups[0].formation_cf == '4'" class="home">{{lineups[0].number_player_10}}<p>{{lineups[0].player_10}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cf == '3'" class="home-cf-5">
          <div *ngIf="lineups[0].formation_cf == '3'" class="home">{{lineups[0].number_player_11}}<p>{{lineups[0].player_11}}</p></div>
        </div>
        <div *ngIf="lineups[0].formation_cf == '4'" class="home-rcf">
          <div *ngIf="lineups[0].formation_cf == '4'" class="home">{{lineups[0].number_player_11}}<p>{{lineups[0].player_11}}</p></div>
        </div>

        <div class="away-gk">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div class="away-lb">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-cb-1">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div class="away-cb-2">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-cb-3">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div class="away-cb-4">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-cb-5">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div class="away-rb">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-ldm">
            <div class="away">1<p>Aji</p></div>
          </div>
        <div *ngIf="" class="away-dm-1">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div class="away-dm-2">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-dm-3">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div class="away-dm-4">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-dm-5">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-rdm">
            <div class="away">1<p>Aji</p></div>
          </div>
        <div *ngIf="" class="away-lcm">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-cm-1">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-cm-2">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-cm-3">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-cm-4">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-cm-5">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-rcm">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div class="away-lacm">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div class="away-acm-1">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-acm-2">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div class="away-acm-3">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-acm-4">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div class="away-acm-5">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div class="away-racm">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-lcf">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-cf-1">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-cf-2">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div class="away-cf-3">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-cf-4">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-cf-5">
          <div class="away">1<p>Aji</p></div>
        </div>
        <div *ngIf="" class="away-rcf">
          <div class="away">1<p>Aji</p></div>
        </div>
      </div>
      <ion-item style="background: #346210;margin-top:-2%;" no-lines>
        <ion-avatar item-start>
          <img style="height:40px;width:40px;" src="{{schedule.club_away_icon_url}}" />
        </ion-avatar>
        <p style="color:#ffffff;">{{schedule.club_away}}</p>
        <p style="color:#ffffff;" item-end>4-3-3</p>
      </ion-item>
      <ion-card>
        Testing
      </ion-card>
    </div>
  </div>
</ion-content>