page-resultgame {
    .container {
        position: relative;
        text-align: center;
        color: #333333;
    }
    .container-img {
        opacity: 0.3;
    }
    .top-left {
        position: absolute;
        top: 8px;
        left: 16px;
    }
    
    .top-right {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 100%;
        font-family: 'Times New Roman', Times, serif;
        color: #333333;
    }
    .center-left {
        position: absolute;
        top: 40%;
        left: 16px;
    }
    
    .center-right {
        position: absolute;
        top: 40%;
        right: 16px;
    }
    
    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
    }
    
    .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
    }
    .centered {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 100%;
        z-index: 1;
    }
    .centered-sticky {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 100%;
    }
    .centered-top {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Times New Roman', Times, serif;
        color: #333333;
        width: 100%;
    }
    .centered-left {
        position: absolute;
        top: 15%;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
    }
    .centered-right {
        position: absolute;
        top: 15%;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
    }
    .centered-left-sticky {
        position: absolute;
        top: 25%;
        left: 12%;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
    }
    .centered-right-sticky {
        position: absolute;
        top: 25%;
        right: 12%;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
    }
    .logo-club-left {
        float: left;
        width: 35%;
    }
    .logo-club-right {
        float: right;
        width: 35%;
    }
    .logo-name {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 80%;
    }
    .result {
        font-family: Arial, Helvetica, sans-serif;
        height: 55px;
        font-size: 20px;
        font-weight: bold;
    }
    .statistics{
    }
    .container-pitch {
        position: relative;
        text-align: center;
        color: #ffffff;
        margin-top:-1px;
    }
    .home {
        margin-top:25%;
        width: 500%;
        margin-left:-200%;
    }
    .away {
        margin-top:25%;
        width: 500%;
        margin-left:-200%;
    }
    .home-gk {
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-lb {
        position: absolute;
        top: 10%;
        left: 5%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-cb-1 {
        position: absolute;
        top: 10%;
        left: 17%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-cb-2 {
        position: absolute;
        top: 10%;
        left: 30%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-cb-3 {
        position: absolute;
        top: 10%;
        left: 45%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-cb-4 {
        position: absolute;
        top: 10%;
        left: 60%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-cb-5 {
        position: absolute;
        top: 10%;
        left: 73%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-rb {
        position: absolute;
        top: 10%;
        left: 85%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-dm-1 {
        position: absolute;
        top: 20%;
        left: 17%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-dm-2 {
        position: absolute;
        top: 20%;
        left: 30%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-dm-3 {
        position: absolute;
        top: 20%;
        left: 45%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-dm-4 {
        position: absolute;
        top: 20%;
        left: 60%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-dm-5 {
        position: absolute;
        top: 20%;
        left: 73%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-lcm {
        position: absolute;
        top: 25%;
        left: 5%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-cm-1 {
        position: absolute;
        top: 25%;
        left: 17%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-cm-2 {
        position: absolute;
        top: 25%;
        left: 30%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-cm-3 {
        position: absolute;
        top: 25%;
        left: 45%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-cm-4 {
        position: absolute;
        top: 25%;
        left: 60%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-cm-5 {
        position: absolute;
        top: 25%;
        left: 73%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-rcm {
        position: absolute;
        top: 25%;
        left: 85%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-lacm {
        position: absolute;
        top: 30%;
        left: 5%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-acm-1 {
        position: absolute;
        top: 30%;
        left: 17%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-acm-2 {
        position: absolute;
        top: 30%;
        left: 30%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-acm-3 {
        position: absolute;
        top: 30%;
        left: 45%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-acm-4 {
        position: absolute;
        top: 30%;
        left: 60%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-acm-5 {
        position: absolute;
        top: 30%;
        left: 73%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-racm {
        position: absolute;
        top: 30%;
        left: 85%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-lcf {
        position: absolute;
        top: 40%;
        left: 5%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-cf-1 {
        position: absolute;
        top: 40%;
        left: 17%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-cf-2 {
        position: absolute;
        top: 40%;
        left: 30%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-cf-3 {
        position: absolute;
        top: 40%;
        left: 45%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-cf-4 {
        position: absolute;
        top: 40%;
        left: 60%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-cf-5 {
        position: absolute;
        top: 40%;
        left: 73%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }
    .home-rcf {
        position: absolute;
        top: 40%;
        left: 85%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(161, 33, 75);
    }

    .away-gk {
        position: absolute;
        top: 93%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-lb {
        position: absolute;
        top: 80%;
        left: 5%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-cb-1 {
        position: absolute;
        top: 80%;
        left: 17%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-cb-2 {
        position: absolute;
        top: 80%;
        left: 30%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-cb-3 {
        position: absolute;
        top: 80%;
        left: 45%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-cb-4 {
        position: absolute;
        top: 80%;
        left: 60%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-cb-5 {
        position: absolute;
        top: 80%;
        left: 73%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-rb {
        position: absolute;
        top: 80%;
        left: 85%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-dm-1 {
        position: absolute;
        top: 70%;
        left: 17%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-dm-2 {
        position: absolute;
        top: 70%;
        left: 30%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-dm-3 {
        position: absolute;
        top: 70%;
        left: 45%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-dm-4 {
        position: absolute;
        top: 70%;
        left: 60%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-dm-5 {
        position: absolute;
        top: 70%;
        left: 73%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-lcm {
        position: absolute;
        top: 65%;
        left: 5%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-cm-1 {
        position: absolute;
        top: 65%;
        left: 17%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-cm-2 {
        position: absolute;
        top: 65%;
        left: 30%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-cm-3 {
        position: absolute;
        top: 65%;
        left: 45%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-cm-4 {
        position: absolute;
        top: 65%;
        left: 60%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-cm-5 {
        position: absolute;
        top: 65%;
        left: 73%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-rcm {
        position: absolute;
        top: 65%;
        left: 85%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-lacm {
        position: absolute;
        top: 60%;
        left: 5%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-acm-1 {
        position: absolute;
        top: 60%;
        left: 17%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-acm-2 {
        position: absolute;
        top: 60%;
        left: 30%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-acm-3 {
        position: absolute;
        top: 60%;
        left: 45%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-acm-4 {
        position: absolute;
        top: 60%;
        left: 60%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-acm-5 {
        position: absolute;
        top: 60%;
        left: 73%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-racm {
        position: absolute;
        top: 60%;
        left: 85%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-lcf {
        position: absolute;
        top: 50%;
        left: 5%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-cf-1 {
        position: absolute;
        top: 50%;
        left: 17%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-cf-2 {
        position: absolute;
        top: 50%;
        left: 30%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-cf-3 {
        position: absolute;
        top: 50%;
        left: 45%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-cf-4 {
        position: absolute;
        top: 50%;
        left: 60%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-cf-5 {
        position: absolute;
        top: 50%;
        left: 73%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
    .away-rcf {
        position: absolute;
        top: 50%;
        left: 85%;
        border-radius:50%;
        border:3px solid;
        border-color:#ffffff;
        width:40px;
        height:40px;
        background: rgb(0, 82, 158);
    }
}
