<ion-header class="header">
  <div id="header-navbar" class="header-navbar">
    <div class="title-menu">
      <button ion-button clear menuToggle color="light" style="top:3px;">
        <ion-icon name="md-options" style="font-size:25px;"></ion-icon>
      </button>
    </div>
    <div class="title-logo">
      <h4>
        BARCA
        <img src="assets/icon/logo.gif" height="20" /> INFO&nbsp;&nbsp;&nbsp;&nbsp;
      </h4>
    </div>
  </div>
</ion-header>
<ion-content>
  <ion-card class="container" *ngFor="let schedule of ScheduleAllActive">
    <img id="container-img" class="container-img" src="assets/imgs/white.jpg" style="width:100%;height:100px;" />
    <div class="centered-top">
      <div style="font-size:80%;font-weight: bold;">{{schedule.league}} - {{schedule.round}}</div>
      <div style="font-size:80%;font-weight: bold;">{{schedule.date | date:"dd MMMM yyyy"}}</div>
    </div>
    <div class="centered">
      <div id="result" *ngIf="schedule.date <= datecurrent" class="result">
        {{schedule.skor_home}} - {{schedule.skor_away}}
      </div>
      <div *ngIf="schedule.date > datecurrent" id="time" class="result">
        {{schedule.date | date:"HH:mm"}}
      </div>
    </div>
    <div id="centered-left" class="centered-left">
      <div class="logo-club-left">
        <img id="logo-clubleft" style="width:40%;margin-left:30%;" src="{{schedule.club_home_icon_url}}" />
        <div id="name-clubleft" class="logo-name">{{schedule.club_home}}</div>
      </div>
    </div>
    <div id="centered-right" class="centered-right">
      <div class="logo-club-right">
        <img id="logo-clubright" style="width:40%;margin-left:30%;" src="{{schedule.club_away_icon_url}}" />
        <div id="name-clubright" class="logo-name">{{schedule.club_away}}</div>
      </div>
    </div>
    <ion-row style="border-top:2px solid;border-color:#dedede;">
      <ion-col col-12>
        <strong>REWARD: Pulsa 100K untuk 2 Orang</strong>
      </ion-col>
    </ion-row>
  </ion-card>
  <ion-card padding>
    <strong>SYARAT MENJADI PEMENANG</strong>
    <div style="padding-top:10px;padding-left:10px;">
      <p>1. Menebak skor hasil pertandingan dan pencetak gol pertama Barcelona dengan tepat.</p>
      <p>2. Penebak tercepat (tebak skor akan dimulai 1 jam sebelum pertandingan).</p>
      <p>3. Jika skor hasil pertandingan Barcelona 0 (tidak ada pencetak gol) maka syarat yang berlaku hanya skor dan waktu
        penebak tercepat.</p>
    </div>
  </ion-card>
  <ion-card>
    <ion-row style="border-bottom:1px solid;border-color:#dedede;">
      <ion-col style="text-align:center;margin:auto;" col-3>
        <b>{{clubhome}}</b>
      </ion-col>
      <ion-col col-2.5>
        <ion-select [disabled]="prediction.length != 0" placeholder="-" [(ngModel)]="skorhome">
          <ion-option value="0">0</ion-option>
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
          <ion-option value="6">6</ion-option>
          <ion-option value="7">7</ion-option>
          <ion-option value="8">8</ion-option>
          <ion-option value="9">9</ion-option>
          <ion-option value="10">10</ion-option>
          <ion-option value="11">11</ion-option>
          <ion-option value="12">12</ion-option>
          <ion-option value="13">13</ion-option>
          <ion-option value="14">14</ion-option>
          <ion-option value="15">15</ion-option>
          <ion-option value="16">16</ion-option>
          <ion-option value="17">17</ion-option>
          <ion-option value="18">18</ion-option>
          <ion-option value="19">19</ion-option>
          <ion-option value="20">20</ion-option>
        </ion-select>
      </ion-col>
      <ion-col col-1 style="text-align:center;margin:auto;">
        Vs
      </ion-col>
      <ion-col col-2.5>
        <ion-select [disabled]="prediction.length != 0" style="margin:auto;" placeholder="-" [(ngModel)]="skoraway">
          <ion-option value="0">0</ion-option>
          <ion-option value="1">1</ion-option>
          <ion-option value="2">2</ion-option>
          <ion-option value="3">3</ion-option>
          <ion-option value="4">4</ion-option>
          <ion-option value="5">5</ion-option>
          <ion-option value="6">6</ion-option>
          <ion-option value="7">7</ion-option>
          <ion-option value="8">8</ion-option>
          <ion-option value="9">9</ion-option>
          <ion-option value="10">10</ion-option>
          <ion-option value="11">11</ion-option>
          <ion-option value="12">12</ion-option>
          <ion-option value="13">13</ion-option>
          <ion-option value="14">14</ion-option>
          <ion-option value="15">15</ion-option>
          <ion-option value="16">16</ion-option>
          <ion-option value="17">17</ion-option>
          <ion-option value="18">18</ion-option>
          <ion-option value="19">19</ion-option>
          <ion-option value="20">20</ion-option>
        </ion-select>
      </ion-col>
      <ion-col style="text-align:center;margin:auto;" col-3>
        <b>{{clubaway}}</b>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label style="padding-left:15px;">Pencetak Gol Pertama</ion-label>
      <ion-select [disabled]="prediction.length != 0" [(ngModel)]="pencetakgol">
        <ion-option value="{{player.name}}" *ngFor="let player of players">{{player.name}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-row>
      <ion-col *ngIf="prediction.length == 0" col-12 style="text-align: right;">
        <button ion-button color="bluedark" (click)="doSavePrediction()">SIMPAN</button>
      </ion-col>
      <ion-col *ngIf="prediction.length != 0"  col-12 style="text-align: center;border-top:1px solid;border-color:#dedede;">WAKTU: 21-05-2018 01:01</ion-col>
    </ion-row>
  </ion-card>
  <ion-card *ngIf="ScheduleAllActive.status == 'CLSD'" padding>
    <strong>PEMENANG</strong>
    <div style="padding-top:10px;padding-left:10px;">
      <p>1. Aji SKOR: FCB 3-0 RSD WAKTU: 21-05-2018 01:01</p>
      <p>2. Dwi SKOR: FCB 3-0 RSD WAKTU: 21-05-2018 01:01</p>
    </div>
  </ion-card>
</ion-content>