<video *ngIf="type == '0' && !stream" style="width:100%;height:100%" controls>
  <source src="{{url}}" type="video/mp4">
</video>
<video *ngIf="stream == '0'" id="video-player" style="width:100%;height: 100%;"class="embed-responsive-item video-js vjs-default-skin vjs-big-play-centered"
autoplay controls preload="auto">
<source [src]="url"
  type="video/mp4"> </video>
<iframe *ngIf="!stream" [src]="url | safe:'resourceUrl'" allowfullscreen="allowfullscreen" allowtransparency="true" frameborder="0" height="100%" width="100%"></iframe> 
