page-preview {
    .playvideo {
        font-size:80px;
    }
    .playvideo:active {
        cursor: pointer;
        color:red;
    }
    .container {
        position: relative;
        text-align: center;
        color: white;
        background: #000;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 100%;
        z-index: 1;
    }
    .quality {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 999; /* Sit on top */
        left: 10%;
        top: 15%;
        width: 80%; /* Full width */
        height: 60%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
}
