<ion-header id="header">
  <ion-navbar color="darkgrey">
    <ion-title>TV Indonesia</ion-title>
  </ion-navbar>
</ion-header>
<ion-content id="content" style="background:#26262d;">
  <div *ngIf="channels.length != 0">
    <ion-grid>
      <ion-row>
        <ion-item item-start no-lines text-wrap style="background: #fafafa;border:1px solid;border-color:#dedede;" *ngFor="let channel of channels"
          col-12>
          <h4 style="color:#666666;font-weight: bold;">{{channel.channel}}</h4>
          <button (click)="doGotoSchedule(channel)" ion-button clear item-end>
            <i style="font-size: 15px;" class="fas fa-chevron-right"></i>
          </button>
        </ion-item>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="channels.length == 0">
    <p padding>*Mohon coba lagi nanti, data sedang diupdate</p>
  </div>
</ion-content>