<ion-header class="header">
  <div id="header-navbar" class="header-navbar">
    <div class="logo-streaming" style="text-align:right;height:0px;">
      <button ion-button clear color="light" (click)="toggleSearch()">
        <img src="assets/icon/logo.gif" height="35" style="margin-top:5px;" />
      </button>
    </div>
    <div class="title-menu">
      <button ion-button clear menuToggle color="light" style="top:3px;z-index:1;">
        <ion-icon name="md-options" style="font-size:25px;"></ion-icon>
      </button>
    </div>
    <div class="title-logo">
      <ion-select [(ngModel)]="region" (ionChange)="doGetNobar(region)" multiple="false" style="margin-left:40px;margin-top:5px;font-size:15px;color:#fff;text-align:left;font-weight: bold;max-width: 35%;"
        placeholder="Regional">
        <ion-option value="{{region.regional}}" *ngFor="let region of regionalall">{{region.regional}}</ion-option>
      </ion-select>
    </div>
  </div>
</ion-header>

<ion-content>

  <ion-card *ngFor="let nobar of nobars">
    <ion-card-header style="border-bottom:1px solid;border-color:#dedede;">
      <b>{{nobar.title}}</b>
    </ion-card-header>
    <ion-card-content>
      <h3 style="padding-top:5px;">
        <b>{{nobar.city}}</b>
      </h3>
      <p>{{nobar.location}}</p>
      <p>{{nobar.date | date:"dd MMMM yyyy"}} {{nobar.date | date:"HH:mm"}}</p>
      <p>Contact Person</p>
      <ion-icon name="md-arrow-down" style="margin-left:50%;"></ion-icon>
      <ion-row style="margin-bottom:-10px;">
        <ion-col *ngIf="nobar.contact_1" col-12 style="text-align:center;border-top:1px solid;border-color:#dedede;">
          <p>
            <b>{{nobar.name_contact_1}} {{nobar.contact_1}}</b>
          </p>
        </ion-col>
        <ion-col *ngIf="nobar.contact_2" col-12 style="text-align:center;border-top:1px solid;border-color:#dedede;">
          <p>
            <b>{{nobar.name_contact_2}} {{nobar.contact_2}}</b>
          </p>
        </ion-col>
        <ion-col *ngIf="nobar.contact_3" col-12 style="text-align:center;border-top:1px solid;border-color:#dedede;">
          <p>
            <b>{{nobar.name_contact_3}} {{nobar.contact_3}}</b>
          </p>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <!--<ion-row style="border-top:1px solid;border-color:#dedede;padding:5px;">
      <ion-col *ngIf="nobarusers.user_id != id" col-12 style="text-align: right;">
        Datang
        <i style="font-size:125%" class="fas fa-futbol" (click)="doDatangNobar(nobar)"></i>
      </ion-col>
      <ion-col *ngIf="nobarusers.user_id == id" col-12 style="text-align: right;">
        Anda akan Datang
        <i style="font-size:125%" class="fas fa-futbol" (click)="doDatangNobar(nobar)"></i>
      </ion-col>
      <ion-col col-9 style="text-align: left;">
        <i style="font-size:100%" class="fas fa-comment-alt"> Komentar</i>
      </ion-col>
    </ion-row>
    <ion-row style="border-top:1px solid;border-color:#dedede;padding:5px;background:#f6f7f9;">
      <ion-col col-12 style="background:#f6f7f9;">
        <b>10</b> Orang akan datang
      </ion-col>
      <!--<ion-col ion-item col-12 style="background:#f6f7f9;" text-wrap>
        <img item-start src="assets/imgs/logo.png" style="width:30px;height:30px;" />
        <p>
          <b>Aji</b>&nbsp;Testingadfaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaafafa
        </p>
      </ion-col>-->
      <!--</ion-row>
    <ion-row style="border-top:1px solid;border-color:#dedede;padding:5px;background:#f6f7f9;">
      <ion-col col-10 style="background:#fff;">
        <ion-input style="border:0px;" placeholder="Write a comment.."></ion-input>
      </ion-col>
      <ion-col col-2>
        <button ion-button color="bluedark" clear>
          <ion-icon name="md-send"></ion-icon>
        </button>
      </ion-col>
    </ion-row>-->
  </ion-card>

</ion-content>