content-video {

  @keyframes resize {
    0% {
      transform: scale(1.0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1.0);
    }
  }

  .carousel-container {
    padding: 30px 0;
    margin: 0 auto;
    width: 300px;
    height: 100px;
    position: relative;
    perspective: 10000px;
  }
  .carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
  }

  .carousel ion-card-title {
    padding: 0;
  }

  .carousel ion-col {
    padding: 0;
  }

  .carousel ion-badge {
    position: absolute;
    top: calc(6% - 10px);
    left: calc(80% - 5px);
    background-color: #f1c40f!important;
  }

  .carousel-slide-item {
    display: block;
    position: absolute;
    background:#fff;
    width: 300px;
    height: auto;
    font-size: large;
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
  }

  @media screen and (max-width: 25em) {

   .carousel-container {
     padding: 30px 0;
     margin: 0 auto;
     width: 250px;
     height: 100px;
     position: relative;
     perspective: 3000px;
   }
   .carousel {
     height: 100%;
     width: 100%;
     position: absolute;
     transform-style: preserve-3d;
     transition: transform 1s;
   }

    .carousel ion-card-title {
      padding: 0;
    }

    .carousel ion-col {
      padding: 0;
    }

    .carousel ion-badge {
        position: absolute;
        top: calc(6% - 10px);
        left: calc(80% - 5px);
        background-color: #f1c40f!important;
    }

   .carousel-slide-item {
     display: block;
     position: absolute;
     background:#fff;
     width: 250px;
     height: auto;
     font-size: large;
     text-align: center;
     color: #FFF;
     opacity: 0.95;
     border-radius: 10px;
   }
  }

}
